# Python
__pycache__/
*.pyc
venv/
.venv/
env/

# Конфигурации и секреты
config.py
.env

# Данные и кэш
data/itemsRecipes/
data/itemsRegistry/
data/pricesAh/
data/pricesBz/
data/etag.txt
*.log
.DS_Store

# Иде и редакторы
.vscode/
.idea/